* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    -webkit-box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.55);
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0 10px;
}

#navbar #logo {
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}

#navbar a:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}

#navbar a.active {
    background-color: rgb(145, 56, 56);
    color: white;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}

.footer-wrapper {
    padding: 0 auto-fill;
    text-align: center;
    color: black;
    background-color: rgb(196, 196, 196);
    position: fixed;
    bottom: 0;
}